h1 {
  text-align: center;
  font-family: 'Kristi', cursive;
  font-size: 120px;
}
#form {
  margin-top: 40px;
}
img {
  margin-top: 20px;
  height: 300px;
  width: 1010px;
  object-fit: cover;
}
#results, #resultsTwo {
  margin-top: 20px;
  font-size: 25px;
}
#results {
  margin-top: 70px;
  margin-bottom: 30px;
}
body {
  background-color: rgb(224, 242, 250);
}
.container {
  background-color: white;
  padding: 60px;
  padding-bottom: 300px;
}